.App {
    width: 600px;
    margin: 20px auto;
}

.starButton {
    padding: 5px;
    cursor: pointer;
}

.starButton:hover {
    color: #fc8700;
}

.menu {
    cursor: pointer;
}

.menu:hover {
    color: #fc8700;
}